@import "/styles/common.scss";

.root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    height: 400px;
    width: 300px;
    padding: 24px 48px;
    border-radius: 4px;

    .header {
      text-align: center;
    }

    .tip {
      margin-top: 12px;
      font-size: 12px;
      color: rgb(190, 190, 190);
    }

    .form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100px;
      position: relative;

      .alert-msg {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
      }
    }

    .btn {
      margin-top: 24px;
    }
  }
}