@import "/styles/common.scss";

.root {
  .header-wrapper {
    display: flex;
    justify-content: right;
  }

  .editor-wrapper {
    margin-top: 12px;

    .editor {
      margin-top: 12px;
      height: calc(100vh - 200px);
    }
  }
}