@import "/styles/common.scss";

.root {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .editor-wrapper {
    margin-top: 12px;

    .editor {
      margin-top: 12px;
      height: calc(100vh - 200px);
    }
  }

  .dialog-wrapper {
    width: 500px;
  }

  .tags-wrapper {
    padding: 48px 0;
    background-color: rebeccapurple;
  }
}