@import "/styles/common.scss";

.root {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      flex: 1;
      padding-right: 30px;
      &>div{
        width: 100%;
      }
    }
  }

  .editor-wrapper {
    margin-top: 16px;

    .editor {
      margin-top: 12px;
      height: calc(100vh - 200px);
    }
  }

  .dialog-wrapper {
    width: 500px;
  }

  .tags-wrapper {
    padding: 48px 0;
    background-color: rebeccapurple;
  }
}