@import "/styles/common.scss";

.root {
  height: calc(100vh - 74px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    font-size: 18px;
    font-weight: 600;
    color: $red;
  }
}