@import "/styles/common.scss";

.tag {
  display: inline-block;
  padding: 3px 12px;
  color: #fff;
  background: $blue;
  border-radius: 11px;
  font-size: 12px;
}

.tag-blue {
  background-color: $blue;
}

.tag-green {
  background-color: $green;
}

.tag-orange {
  background-color: $orange;
}

.tag-yellow {
  background-color: $yellow;
}

.tag-red {
  background-color: $red;
}

.tag-clickable {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $blue-lighter;
    transition: 0.3s;
  }
}

.tag-choosed {
  color: $text-hover-color;
}