@import "/styles/common.scss";

.tag {
  display: inline-block;
  padding: 2px 8px;
  color: $blue;
  border: 1px solid $blue-lighter;
  background: $blue-lighter-er-er;
  border-radius: 4px;
  font-size: 12px;
}

.tag-blue {
color: $blue;
border-color: $blue-lighter;
background-color: $blue-lighter-er;
}

.tag-green {
  color: $green;
  border-color: $green-lighter;
  background-color: $green-lighter-er;
}

.tag-orange{
  color: $orange;
  border-color: $orange-lighter;
  background-color: $orange-lighter-er;
}

.tag-yellow{
  color: $yellow;
  border-color: $yellow-lighter;
  background-color: $yellow-lighter-er;
}
.tag-red{
  color: $red;
  border-color: $red-lighter;
  background-color: $red-lighter-er;
}

.tag-clickable {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $blue-lighter;
    border: 1px solid $blue-lighter;
    transition: 0.3s;
  }
}

.tag-choosed {
  color: $text-hover-color;
  border: 1px solid $text-hover-color;
}