@import "/styles/common.scss";
.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  padding: 0 60px;
  height: 74px;
  border-bottom: 1px solid $border-color;
  background-color: #ffffff;
  z-index: 1;
}

.logo {
  cursor: pointer;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 240px;
  letter-spacing: 2px;
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  color: $blue;
  transition: 0.3s;
}

.menu-item__active {
  color: $blue;
}