.main {
  min-height: calc(100vh - 78px);
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-wrapper {
  width: 30%;
}

.img-wrapper {
  width: 50%;
  min-height: calc(100vh - 200px);
  background: url('/sheep.jpg') no-repeat center center;
  background-size: 100%;
}

.title {
  font-size: 24px;
  color: #2e2e2c;
}

.title div {
  margin-top: 16px;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 240px;
  margin-top: 32px;
}