@import "/styles/common.scss";

.root {
  display: flex;

  .main {
    width: 80%;
    border-right: 1px solid $border-color;

    .main-content {
      margin-top: 40px;
      padding: 12px 60px;

      .skeleton {
        padding: 24px;
      }

      .empty {
        padding: 36px;
        text-align: center;
        color: $text-color;
      }
    }

    .pagination {
      padding: 24px;
    }
  }

  .sider {
    position: fixed;
    top: 74px;
    right: 0;
    width: 20%;
    padding: 38px 24px;
  }
}