@import "/styles/common.scss";

.root {
  display: flex;

  @media screen and (min-width: 960px) {
    .main {
      width: 80%;
      border-right: 1px solid $border-color;
    }
  
    .sider {
      width: 20%;
      min-height: calc(100vh - 74px);
      padding: 38px 24px;
    }
  }

  @media screen and (max-width: 960px) {
    .sider {
      display: none;
    }
  }

  .main-content {
    margin-top: 40px;
    padding: 12px 60px;

    .skeleton {
      padding: 24px;
    }

    .empty {
      padding: 36px;
      text-align: center;
      color: $text-color;
    }
  }

  .pagination {
    padding: 24px;
  }

  .tags {
    margin-top: 24px;
  }

  .series {
    position: relative;
    margin-top: 24px;
    padding: 24px 12px 12px 12px;
    border: 1px solid $border-color;
    border-radius: 4px;

    &::before {
      content: 'Series';
      padding: 0 6px;
      position: absolute;
      top: -12px;
      left: 12px;
      background-color: #fff;
    }
  }

  .series-item {
    font-size: 13px;
    line-height: 24px;
  }

  .profile {
    padding: 0 12px;
    text-align: center;

    .avator {
      width: 50px;
      height: 50px;
    }

    .summary {
      display: flex;
      justify-content: space-between;
    }

    .summary-item {
      .account {
        font-size: 26px;
      }

      .title {
        font-size: 12px;
      }
    }
  }
}