.root {
  display: flex;

  .main {
    width: 80%;
    padding: 24px;
    border-right: 1px solid #c4c1b8;
  }

  .sider {
    /* position: fixed; */
    width: 20%;
    padding: 24px;
  }
}

.list-item {
  position: relative;
  width: 100%;
  height: 120px;
  /* border-bottom: 1px solid #c4c1b8; */
  display: flex;
  cursor: pointer;
  border: none;
  transition: 0.3s;

  &:hover::before {
    position: absolute;
    content: '→';
    top: 34px;
    left: -16px;
  }

  .text {
    flex: 1;
  }

  .info {
    display: flex;
    align-items: center;

    .date {
      margin-left: 12px;
      font-size: 12px;
    }
  }

  .title {
    margin: 12px 0;
  }

  .content {
    font-size: 12px;
  }

  .img {
    margin-left: 24px;
    width: 120px;
    background-color: aliceblue;
  }
}