// common colors
$blue:#588c7e;
$blue-lighter:#789c8a;
$blue-lighter-er: #babca2;
$blue-lighter-er-er: #f3f3f0;

$green: #acbc8a;
$green-lighter: #bcc595;
$green-lighter-er:#ddd8ab;
$green-lighter-er-er: #edead6;

$yellow: #ecd189;
$yellow-lighter: #f0d794;
$yellow-lighter-er:#f7e4aa;

$orange: #e99469;
$orange-lighter: #eda376;
$orange-lighter-er:#f6c193;
$orange-lighter-er-er: #faf3ec;

$red: #bc5952;
$red-lighter: #c97062;
$red-lighter-er:#e4a082;
$red-lighter-er-er: #f9e1db;

// other
$text-color: #2e2e2c;
$text-hover-color: $blue;
$sub-text-color: #888885;

$bg-color: #ffffff;
$bg-hover-color: $blue-lighter-er-er;
$bg-dark-color: $blue-lighter-er;

$border-color: rgba(0, 0, 0, 0.12);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-color-lighter: rgba(0, 0, 0, 0.1);